header {
	background: #FF5A5F;
	color: white;
	padding: 10px 0;
	text-align: center;
}

header .logo h1 {
	margin: 0;
	font-size: 32px;
	font-family: 'Arial Black', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #FFFFFF;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	
}
