.places {
	margin: 20px 0;
}

.places h2 {
	font-size: 30px;
	margin-bottom: 20px;
	text-align: left;
}

.places article {
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;
	width:390px;
	position: relative;
}

.places h3 {
	font-size: 30px;
	text-align: center;
	margin: 10px 0;
}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 4px;
	font-size: 30px;
	text-align: center;
	width: 60px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	right: 20px;
	top: 20px;
}

.information {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0;
}

.information div {
	text-align: center;
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	background-size: cover;
}

.icon.guest {
	background-image: url('../images/icon_group.png');
}

.icon.bedroom {
	background-image: url('../images/icon_bed.png');
}

.icon.bathroom {
	background-image: url('../images/icon_bath.png');
}

.user {
	margin: 10px 0;
}

.description {
	margin: 10px 0;
	color: #333333;
}
